@keyframes electro {
  0% {
    background-position: 0% 50%;
    opacity: 0.6;
  }
  25% {
    background-position: 100% 50%;
    opacity: 1;
  }
  50% {
    background-position: 100% 50%;
    opacity: 0.8;
  }
  75% {
    background-position: 0% 50%;
    opacity: 1;
  }
  100% {
    background-position: 0% 50%;
    opacity: 0.6;
  }
}
